body {
    font-family: verdana, geneva, tahoma, sans-serif;
    font-weight: normal;
    background-color: black;
    text-align: center;
    color: white;
}

.header--main {
    font-size: 50px;
    
}